* {
    box-sizing: border-box;
  }

html{
    height: 100%;
}


body{
    margin: 0;
    padding: 0;
    // background-image: url(../img/flag.jpg);
    background-color: #eae7e6;
}

a#logo { 
    float: left;
    display: inline-block;
  }

  .clear {
    clear: both;
  }

#nav-bar {
    background-color: #FFF;  /*turns nav bar white*/
    width: 100%;

    nav {
        float: right;
        list-style: none;    /*gets rid of bullet points*/ 
          text-align: left;
          /*padding: 0px -10px 0px -10px; */
        margin: 0;

        li {                                                             /*max-width: 768px*/
            display:Inline-block;
            padding: 10px 9px 10px 9px;                               /*nav bar text*/
        
            a {                                               
                text-decoration: none;
                color: blue;
                font-size: 14px;
                padding: 5px 0px 5px 0px
            }

            a:hover:not(.active){
                            background-color: #111;
                        }
                  
                        .active {
                            background-color: #7c265e;
                        }
        }
      }
    }

// header{
//     background-color:fff;

//     width: 100%;
//     top: 0;
//     // color: #fff;
//     // font: 16px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
     
//     // font: 18px Showcard Gothic; 
//     box-shadow: 5px 10px #888888;
    
// }


//---------------------Previous CSS----------------------------

// nav 
// {
//     width: 100%;
//     background-color:#fff;
//         top: 0;
//         margin: 0;

//     a.logo{
//         // background-color: #fff;
//         float:left;
//         color: #b687a0;
//         font: 22px IMPACT;
//         padding: 16px 18px;
//         text-decoration: none;
//         // display: inline;
//         text-align: center;

//     }
       
//     ul {
//         // position: fixed;
//         // display: inline;
//         list-style-type: none;
//         // overflow: hidden;
//         // padding: 0px;
//         // margin: 0px;
//         // text-align: center;
//         display:inline-block;
//         // vertical-align:top;
//         // float: right;
        
        

//     li{
//         // float: right;
//         // border-right:1px solid #fff;

//         // .dropdown{
//         //     display: inline-block;
//         // }
//         // list-style-type: none;
//         padding: 0px;
//         // height: 24px;
//         // margin-top: 4px;
//         // margin-bottom: 4px;
//         display: inline;

    
//         a {
//             // display: block;
//             // // font: 14px Segoe UI; 
//             // font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
//             // color: #000;
//             text-align: center;
//             // padding: 14px 16px;
//             // text-decoration: none;
            
//             color: #000;
//             font: 14px Segoe UI;
//             text-decoration: none;
//             line-height: 70px;
//             padding: 5px 15px;
//         }
  
//         a:hover:not(.active){
//             background-color: #111;
//         }
  
//         .active {
//             background-color: #7c265e;
//         }

//         }
//     }
// }

// .dropdown-content {
//     display: none;
//     position: absolute;
//     background-color: #f9f9f9;
//     min-width: 160px;
//     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
//     z-index: 1;
//   }

//   .dropdown:hover .dropdown-content {
//     display: block;
//   }

article{
    // position: absolute;
    float: left;
    margin: auto;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
}

.ad1, .ad2{
    float: left;
    width: 20%;
    padding: 8px;
    margin-top: 7px;
}

@media only screen and (max-width:800px) {
    /* For mobile phones: */
    li {
      width:100%;
    // float: none;
    border-bottom:1px solid #fff;
    }
  

article, .ad1, .ad2{
    width: 100%;
}
}

footer{
    position: fixed;
    border: 2px solid #000;    
    width: 100%;
    bottom: 0;
    padding: 40px 15px;
    // background-color: #ccc;
    

    a{
    padding: 10px;
    margin: 5px;
    border: 2px solid #000;    
    color: #FFF;
    font: 14px "Lucida Sans Unicode", "Lucida Grande", sans-serif; 
    text-decoration: none;
    }
}